<div id="ACM-container">

    <div id="ACM-banner">

        <div id="ACM-header" class="ACM-header">

            <div id="ACM-header-content-01">
                <span id="#ACM-button-refuse">Continuer sans accepter</span>
            </div>

            <div id="ACM-header-content-02">
                <img src="< url >">
            </div>

        </div>

        <div id="ACM-body" class="ACM-body" >

            <div id="ACM-body-content-01">
                <p>Nous respections votre vie privée !</p>
            </div>

            <div id="ACM-body-content-02">
                <p>Nous utilisons des cookies, y compris des cookies tiers, pour assurer le bon fonctionnement du site, mesurer notre audience, optimiser les performances du site et pour vous proposer des offres adaptées selon vos centres d'intérêt.</p>
                <p>Pour plus d'informations, vous pouvez consulter notre <a src="< url >">politique de confidentialité</a>.</p>
            </div>

        </div>

        <div id="ACM-footer" class="ACM-footer">
            <button id="ACM-button-config" class="ACM-button secondary" >PARAMÉTRER</button>
            <button id="ACM-button-accept" class="ACM-button primary" >ACCEPTER</button>
        </div>

    </div>

</div>