<div id="ACM-container">
    
    <div id="ACM-banner">

        <div id="ACM-header">

            <div id="ACM-header-content-01">
                <span id="#ACM-button-back">Retour</span>
            </div>

            <div id="ACM-header-content-02">
                <img src="< logo url >">
            </div>

        </div>

        <div id="ACM-body">

            <div id="ACM-body-content-02">

                <div id="ACM-categories">

                    <div id="ACM-category-01" class="ACM-category" >

                        <div class="ACM-category-text">
                            <p class="ACM-category-text-head"><strong>Cookies nécessaires</strong></p>
                            <p class="ACM-category-text-body">Les cookies nécessaires contribuent à rendre le site utilisable en activant les fonctions de base comme la navigation de page et l’accès aux zones sécurisées du site. </p>
                        </div>

                        <div class="ACM-category-switch">
                            <label class="ACM-switch">
                                <input id="ACM-preference-input" type="checkbox" checked disabled>
                                <span class="ACM-slider ACM-round"></span>
                            </label>
                        </div>

                    </div>

                    <hr>

                    <div id="ACM-category-02" class="ACM-category">

                        <div class="ACM-category-text">
                            <p class="ACM-category-text-head"><strong>Cookies statistiques</strong></p>
                            <p class="ACM-category-text-body">Les cookies statistiques nous aident, par la collecte et la communication d’informations, à comprendre comment les visiteurs interagissent avec notre site web. </p>
                        </div>


                        <div class="ACM-category-switch">
                            <label class="ACM-switch">
                                <input id="ACM-preference-input" type="checkbox">
                                <span class="ACM-slider ACM-round"></span>
                            </label>
                        </div>

                    </div>

                    <hr>


                    <div id="ACM-category-03" class="ACM-category">

                        <div class="ACM-category-text">
                            <p class="ACM-category-text-head"><strong>Cookies marketing</strong></p>
                            <p class="ACM-category-text-body">Les cookies marketing sont utilisés pour effectuer le suivi des visiteurs au travers du site. Le but est d’afficher des publicitées pertinentes et intéressantes pour les utilisateurs. </p>
                        </div>


                        <div class="ACM-category-switch">
                            <label class="ACM-switch">
                                <input id="ACM-preference-input" type="checkbox" >
                                <span class="ACM-slider ACM-round"></span>
                            </label>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <div class="ACM-footer">
            <button id="ACM-button-valid" class="ACM-button secondary" >VALIDER</button>
        </div>

    </div>
</div>